.sff-queue-container {
  background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 71%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 91px;
  gap: 5rem;
}

.queue-header-link {
  color: white;
  padding: 0.25rem;
  margin-block: 0.25rem;
  border-bottom: 2px solid transparent;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.queue-header-link:hover {
  color: white;
  border-bottom: 2px solid white;
}

.queue-header-link.active {
  border-bottom: 2px solid white;
}

.queue-start {
  background: rgb(15, 170, 15);
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
}

.option-name {
  font-weight: 600;
  margin-right: 0.25rem;
}
