#shapes{
  /* design styling of the login page */
object-fit:cover;
width:100% !important;
max-height:100%;
}

.reglogin{
  /* styling of the login box */
  background-color: #dbd5d5;
  width: 85%;
  padding: 15px;
  border-radius: 2px;
  height:100%;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px; 
}

.loginError {
  /* styling for the toast that pops up when there's an error */
      position: fixed;
      /* runs animation that fades the toast error in when error fails */
      animation-name: loginError;
      animation-duration: 0.5s;
      animation-iteration-count: 1;
      border: solid black 1px;
}

@keyframes loginError {
  /*slowly fades in when error appears*/
  0% {
    opacity: 0;
  }
    100% {
    opacity: 1;
  }
}