body {
    background-color: #c0c0c0;
}

.main-menu {
    height: 90vh;
}

table {
    width: 100%;
}

td {
    padding: 2%;

}

thead {
    background-color: rgb(172, 172, 172);
}

tr {
    margin: 10%;
}

tbody tr:nth-child(even) {
    background-color: #a3c0ff;
}

br {
    height: 1500%;
}

form {
    text-align: center;
    display: flex;
    justify-content: center;
}

.reseller-form {
    text-align: center;
    margin-top: 20px;
}

.sanmar-form {
    display: flex;
    text-align: center;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.capture-form {
    text-align: center;
    margin-top: 20px;
    background-color: rgb(228, 228, 228);
    padding: 20px;
}

.clothing-importer {
    margin: 20px;
}

.clothing-data {
    margin: 10px;
}

.clothing-input {
    text-align: center;
    width: 100px;
    border-radius: 10px;
    margin: 10px;
}

.total-form {
    display: flex;
    justify-content: right;
}

.sales-form {
    background-color: #c0c0c0;
    padding: 30px;
}

.order-input {
    text-align: center;
    width: 100px;
    border-radius: 10px;
    margin: 10px;
}

.big-number {
    margin: 20px;
}

.sales-input {
    text-align: center;
    width: 200px;
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(103, 86, 255);
}

.loader {
    border: 66px solid rgb(172, 172, 172);
    border-radius: 50%;
    border-top: 66px solid #a3c0ff;
    width: 420px;
    height: 420px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    margin: auto;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.ol-map,
#map,
.map {
    min-width: 600px;
    min-height: 500px;
    margin-right: 100px;
    margin-left: 100px;
    height: 1000px;
    width: "100%";
}

.ol-control {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    padding: 2px;
}

.ol-full-screen {
    top: .5em;
    right: .5em;
}

.section {
    background-color: rgb(255, 255, 255);
}

.main-menu h4 {
    color: #30303080;
    z-index: 50;
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 95em;
    /* margin-left: -30em; */
    /* border-left: 1px solid #303030; */
    padding-left: 5em;
    margin-left: 15em;
    z-index: 50;
    position: fixed;
}

.circle {
    height: 70em;
    width: 60em;
    /* border-radius: 50% 0 0 50%; */
    position: fixed;
    top: -5em;
    right: 0;
    z-index: 1;
    background-image: linear-gradient(0deg, #ffffff39 20%, #8447ff4e 71%);
    clip-path: polygon(83% 0, 100% 0%, 100% 100%, 18% 100%);

}

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-295deg,
            #a759d1 0%,
            #8261ee 29%,
            #ff1362 67%,
            #fc4242 80%,
            #a759d1 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
    display: inline-block;
    font-size: 8em;
    font-weight: bolder;
    margin-bottom: .5em;
    width: 100%;
    text-align: left;
    line-height: 1.1em;
    z-index: 50;
    /* position: fixed; */
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

@media only screen and (max-width: 1390px) {
    .animate-charcter {
        font-size: 6em;
        width: 50%;
    }

    .info {
        margin-left: 0;
    }

    .main-menu {
        height: 80vh;
    }
}

@media only screen and (max-width: 900px) {
    .animate-charcter {
        font-size: 3em;
        width: 50%;
    }

    .info {
        margin-left: 0;
    }

    .main-menu {
        height: 60vh;
    }
}