.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
}

.nav {
  overflow: hidden;
  width:100%;
  text-align: center;
  background-color: #40e6d8;
  
}

.nav-logo {
  text-align: center;
}

.link {
  margin: 10px;
}

.nav-link {
  font-family: Verdana;
  float: left;
  background-color: #40e6d8;
  color: #303030;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link2 {
  float: left;
  background-color: #8B008B;
  color: #f2f2f2;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  border:none;
  cursor: pointer;
  outline:0;
}

.active-nav-link {
  float: left;
  background-color: #00008B;
  color: #0e8baa;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  border:none;
  cursor: pointer;
  outline:0;
}

.active-nav-link2 {
  float: left;
  background-color: #8B008B;
  color: #0e8baa;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  color:#0e8baa;
}

.nav-link2:hover {
  color:#0e8baa;
}

.nav-right {
  float: right;
}